<div id="<%= dom_id part %>">
  <p>
    <strong>Name:</strong>
    <%= part.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= part.part_number %>
  </p>

  <p>
    <strong>Supplier:</strong>
    <%= part.supplier.name %>
  </p>

  <div>
    <p><strong>Assemblies:</strong></p>
    <ul>
      <% part.assemblies.each do |assembly| %>
        <li><%= assembly.name %></li>
      <% end %>
    </ul>
  </div>
</div>
