<p style="color: green"><%= notice %></p>

<%= render @part %>

<div>
  <%= link_to "Edit this part", edit_part_path(@part) %> |
  <%= link_to "Back to parts", parts_path %>

  <%= button_to "Destroy this part", @part, method: :delete %>
</div>
