<p style="color: green"><%= notice %></p>

<h1>Assemblies</h1>

<div>
  <%= search_form_for [:admin, @q] do |f| %>
    <%= f.label :parts_name_cont, "Search by Part name" %>
    <%= f.search_field :parts_name_cont %>
    <%= f.submit %>
  <% end %>
</div>

<br>

<div id="assemblies">
  <% @assemblies.each do |assembly| %>
    <p>
      <strong>Name:</strong>
      <%= assembly.name %> |
      <%= link_to "Show this assembly", admin_assembly_path(assembly) %>
    </p>
  <% end %>
</div>

<%= link_to "New assembly", new_admin_assembly_path %>
