<div id="<%= dom_id book %>">
  <p data-testid="published-at">
    <strong>Published at:</strong>
    <%= book.published_at %>
  </p>

  <p data-testid="isbn">
    <strong>ISBN:</strong>
    <span ><%= book.isbn %></span>
  </p>

  <p data-testid="author-name">
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <div data-testid="assemblies-list">
    <p><strong>Assemblies:</strong></p>
      <ul>
        <% book.assemblies.each do |assembly| %>
          <li data-testid="assembly-name"><%= assembly.name %></li>
        <% end %>
      </ul>
  </div>
</div>
