<p style="color: green"><%= notice %></p>

<h1>Books</h1>

<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_or_author_name_cont, "Search by title or Author name" %>
    <%= f.search_field :title_or_author_name_cont %>
    <%= f.submit %>
  <% end %>
</div>

<br>

<div id="books">
  <% @books.each do |book| %>
    <p>
      <strong>Title:</strong>
      <%= book.title %> |
      <%= link_to "Show this book", book %>
    </p>
  <% end %>
</div>

<%= link_to "New book", new_book_path %>
