<h1 class="reports-h1">Book Report</h1>

<section class="report-section">
  <h2>Book</h2>
  <table class="reports-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>ISBN</th>
        <th>Published at</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @book.id %></td>
        <td><%= @book.title %></td>
        <td><%= @book.isbn %></td>
        <td><%= @book.published_at %></td>
        <td><%= @book.created_at %></td>
        <td><%= @book.updated_at %></td>
        <td><%= @book.author.name %></td>
      </tr>
    </tbody>
  </table>

  <h2>Assemblies</h2>
  <% @book.assemblies.each do |assembly| %>
    <div class="assembly-section">
      <h3>Assembly:</h3>
      <table class="reports-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Quantity of Parts</th>
            <th>Total Assembly cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= assembly.id %></td>
            <td><%= assembly.name %></td>
            <td><%= assembly.created_at %></td>
            <td><%= assembly.updated_at %></td>
            <td><%= assembly.parts.count %></td>
            <td>$ <%= assembly.parts.map(&:price).sum %></td>
          </tr>
        </tbody>
      </table>

      <h3>Parts:</h3>
      <table class="reports-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Number</th>
            <th>Supplier</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Name</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% assembly.parts.each do |part| %>
            <tr>
              <td><%= part.id %></td>
              <td><%= part.part_number %></td>
              <td><%= part.supplier.name %></td>
              <td><%= part.created_at %></td>
              <td><%= part.updated_at %></td>
              <td><%= part.name %></td>
              <td>$ <%= part.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>

<div>
  <%= link_to "Back to suppliers", suppliers_path %>
</div>