<div id="<%= dom_id supplier %>">
  <p>
    <strong>Name:</strong>
    <%= supplier.name %>
  </p>

  <p>
    <strong>Cnpj:</strong>
    <%= supplier.cnpj %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= supplier.account_with_digit %>
  </p>

  <div>
    <p><strong>Parts:</strong></p>
    <ul>
      <% supplier.parts.each do |part| %>
        <li><%= part.part_number %></li>
      <% end %>
    </ul>
  </div>
</div>
