<p style="color: green"><%= notice %></p>

<h1>Suppliers</h1>

<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_cont, "Search by name" %>
    <%= f.search_field :name_cont %>
    <%= f.submit %>
  <% end %>
</div>

<br>

<div id="suppliers">
  <% @suppliers.each do |supplier| %>
    <p>
      <strong>Name:</strong>
      <%= supplier.name %> |
      <%= link_to "Show this supplier", supplier %>
    </p>
  <% end %>
</div>

<%= link_to "New supplier", new_supplier_path %>
