<p style="color: green"><%= notice %></p>

<h1>Suppliers</h1>

<div>
  <%= search_form_for @q do |f| %>
    <%= f.label :name_or_account_account_number_or_parts_assemblies_books_author_name_cont, 'Search by Supplier name, supplier Account number or Author name where parts are associated with suppliers' %>
    <%= f.search_field :name_or_account_account_number_or_parts_assemblies_books_author_name_cont %>
    <%= f.submit %>
  <% end %>
</div>

<br>

<div id="suppliers">
  <% @suppliers.each do |supplier| %>
    <p>
      <strong>Name:</strong>
      <%= supplier.name %> |
      <%= link_to "Show this supplier", supplier %>
    </p>
  <% end %>
</div>

<%= link_to "New supplier", new_supplier_path %>
