<div id="<%= dom_id assembly %>">
  <div>
    <p>
      <strong>Name:</strong>
      <%= assembly.name %>
    </p>
  </div>

  <div>
    <p><strong>Parts:</strong></p>
    <% assembly.parts.each do |part| %>
      <p>
        <strong>Part number:</strong>
        <%= part.part_number %>
      </p>
    <% end %>
  </div>

  <div>
    <p><strong>Books:</strong></p>
    <% assembly.books.each do |book| %>
      <p>
        <strong>Published at:</strong>
        <%= book.published_at %>,

        <strong>Author:</strong>
        <%= book.author.name %>
      </p>
    <% end %>
  </div>
</div>
