<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PagesAhead</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="prose">
    <nav>
      <%= link_to "Home", admin_root_path %>
      <%= link_to "Authors", admin_authors_path %>
      <%= link_to "Accounts", admin_accounts_path %>
      <%= link_to "Assemblies", admin_assemblies_path %>
      <%= link_to "Parts", admin_parts_path %>
      <%= link_to "Books", admin_books_path %>
      <%= link_to "Suppliers", admin_suppliers_path %>
    </nav>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
